body{
	font-family: sans-serif;
}

button{
	padding: 0 16px;
	background-color: #1A6AE2;
	border-radius: 4px;
	height: 32px;
	border: none;
	color: #fff;
	cursor: pointer;
}

button.secondary{
	background-color: #ddd;
	color: #333;
}

input{
	height: 32px;
	padding: 0;
	box-sizing: border-box;
}

.flex-row{
	display: flex;
}

.flex-row > *{
	margin-right: 8px;
}

.flex-row > *:last-child{
	margin-right: 0;
}