# .htaccess file

Options +FollowSymLinks
RewriteEngine On


# Go through index.php
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ^(.+)$ index.php/$1 [QSA,L]


# BEGIN GZIP
<IfModule mod_filter.c>
AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript
</IfModule>
# END GZIP


php_flag display_startup_errors on
php_flag display_errors on
php_flag html_errors on
php_flag log_errors on
php_flag ignore_repeated_errors off
php_flag ignore_repeated_source off
php_flag report_memleaks on
php_flag track_errors on
php_value docref_root 0
php_value docref_ext 0
php_value error_log /home/path/public_html/domain/PHP_errors.log
# [see footnote 3] # php_value error_reporting 999999999
php_value error_reporting -1
php_value log_errors_max_len 0