
/* Styles for our profile card */
.user-profile-card{
  padding: 20px;
  background-color: #fff;

  box-shadow: 0px 1px 10px rgba(0,0,0,.1);
}

.user-profile-card .user-avatar{
  float: left;
  width: 100px;
  height: 100px;

  background-color: #eee;
  overflow: hidden;
}

.user-profile-card .user-details{
  margin-left: 120px;
  height: 100px;
}

.user-details .first-name{
  font-weight: 500;
}

.user-details .last-name{
  font-weight: 400;
  color: #666;
}



/* Styles for our top nav view */
.nav{
  height: 60px;
  line-height: 60px;

  color: #fff;
  background-color: #33C3F0;
}

.nav .app-name{
  float: left;
  margin-left: 20px;
}

.nav .user-dropdown{
  height: 60px;
  padding: 0px 0px 0px 20px;
  float: right;
  border-left: solid 1px rgba(255, 255, 255, .1);
}

.user-dropdown .user-details{
  float: left;
}

.user-dropdown .avatar{
  float: right;
  width: 40px;
  height: 40px;
  margin: 10px;
  border-radius: 20px;
  background-color: rgba(0,0,0,.1);
  overflow: hidden;
}

.user-dropdown .name{
  float: right;
}