

/*
|
|
| Contains the css for our flour log
|
|
*/
.flour-log{
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 100;
}




.flour-log-toggle{
  height: 30px;
  width: 30px;

  background-color: rgba(0,0,0,.75);
  color: #fff;
  line-height: 30px;
  border-radius: 15px;
  cursor: pointer;
}


.flour-log-console{
  position: fixed;
  top: 10px;
  right: 10px;
  bottom: 50px;

  width: 400px;
  
  background-color: rgba(0,0,0,.75);
  color: #fff;
  display: none;
}

@media(max-width: 550px){
  .flour-log-console{
    top: 0px;
    right: 0px;
    left: 0px;
    width: auto;
  }
}

.flour-log.open .flour-log-console{
  display: block;

  -webkit-animation-name: openConsole;
  animation-name: openConsole;

  -webkit-animation-duration: 200ms;
  animation-duration: 200ms;

  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-transform-origin: right bottom;
  transform-origin: right bottom;
}

.flour-log.close .flour-log-console{
  -webkit-animation-name: closeConsole;
  animation-name: closeConsole;

  -webkit-animation-duration: 200ms;
  animation-duration: 200ms;

  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-transform-origin: right bottom;
  transform-origin: right bottom;
}





.flour-log-tabs{
  display: -webkit-flex;
  display: flex;
  background-color: rgba(0,0,0,.3);
}

.flour-log-tab{
  position: relative;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  flex: 1 0 0;
  color: rgba(255, 255, 255, .7);
  border-bottom: solid 2px rgba(255, 255, 255, .3);
}

.flour-log-tab-active{
  color: #fff;
  border-bottom: solid 2px #fff;
}

.flour-log-tab:last-of-type{
  border-right: 0;
}

.flour-log-tab-stat{
  display: inline-block;
  margin: 0 0 0 4px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;

  background-color: #039BE5;
  border-radius: 10px;
}



.flour-log-pane{
  display: none;
  position: absolute;
  top: 46px;
  right: 0px;
  bottom: 0px;
  left: 0px;

  overflow: auto;
  -webkit-overflow-scrolling:touch;
}

.flour-log-pane-active{
  display: block;
}






/*
|
| Console view styles
|
*/
.flour-view-item{
  position: relative;
  border-bottom: solid 1px rgba(0, 0, 0, .1);
}

.flour-view-item-name{
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 10px;
}

.flour-view-item-stat{
  font-size: 12px;
}

.flour-view-item-inner{
  border-left: solid 2px #03A9F4;
  padding: 10px;
  font-size: 12px;
}

.flour-view-item pre{
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: monospace;
  overflow: hidden;
}







/*
|
| Console log styles
|
*/
.flour-log-console-item{
  border-bottom: solid 1px rgba(0, 0, 0, .1);
}

.flour-log-console-item-inner{
  border-left: solid 2px #03A9F4;
  padding: 10px;

  font-size: 12px;
  font-family: monospace;
}

.flour-log-console-item pre{
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: monospace;
  overflow: hidden;
  word-wrap: break-word;
}





/*
|
| Console store styles
|
*/
.flour-store-item{
  position: relative;
  border-bottom: solid 1px rgba(0, 0, 0, .1);
}

.flour-store-item-key{
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 10px;
}

.flour-store-item-inner{
  border-left: solid 2px #03A9F4;
  padding: 10px;
  font-size: 12px;
}

.flour-store-item pre{
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: monospace;
  overflow: hidden;
}










/*
|
| Open console
|
*/
@-webkit-keyframes openConsole {
  0% {
    opacity: 0;
    transform: translate(50%, 0%);
  }

  100% {
    opacity: 1;
    transform: translate(0%, 0%);
  }
}

@keyframes openConsole {
  0% {
    opacity: 0;
    transform: translate(50%, 0%);
  }

  100% {
    opacity: 1;
    transform: translate(0%, 0%);
  }
}





/*
|
| Close console
|
*/
@-webkit-keyframes closeConsole {
  0% {
    opacity: 1;
    transform: translate(0%, 0%);
  }

  100% {
    opacity: 0;
    transform: translate(50%, 0%);
  }
}

@keyframes closeConsole {
  0% {
    opacity: 1;
    transform: translate(0%, 0%);
  }

  100% {
    opacity: 0;
    transform: translate(50%, 0%);
  }
}




