
.delete-to-do{
  float: right;
  display: none;
}

.is-done .task{
  text-decoration: line-through;
}

.is-done .delete-to-do{
  display: block;
}





.flour-list{
  padding: 20px;
  border: solid 2px #e1bee7;
}