
.delete-to-do{
  float: right;
}

.is-done .task{
  text-decoration: line-through;
}


.to-dos-list{

}

.to-dos-list .to-do-item{
  margin-bottom: 10px;
  line-height: 38px;
  border-bottom: solid 1px #eee;
}

.to-dos-list .to-do-item:last-of-type{
  border-bottom: 0;
}


.flour-list{
  padding: 20px;
  border: solid 2px #e1bee7;
}