<div class="flour-log-toggle"></div> 
<div class="flour-log-console">
  <div class="flour-log-tabs">
    <div class="flour-log-tab flour-log-tab-active" data-tab="console">Console</div> 
    <div class="flour-log-tab" data-tab="views">Views <span class="flour-log-tab-stat" flour-text="view_count"></span></div> 
    <div class="flour-log-tab" data-tab="store">Store <span class="flour-log-tab-stat" flour-text="store_count"></span></div> 
  </div> 

  <div class="flour-log-panes">
    <div class="flour-log-pane" data-tab="console" flour-view="consoleView"></div> 
    <div class="flour-log-pane" data-tab="views" flour-view="viewsView"></div> 
    <div class="flour-log-pane" data-tab="store" flour-view="storeView"></div> 
  </div> 
</div>