
/* Styles for our list */
.dwarves{
  list-style: none;
}

.dwarves li{
  line-height: 40px;
  border-bottom: solid 1px #eee;
}

.dwarves li:last-of-type{
  border-bottom: 0;
}

.dwarves li .delete-dwarf{
  float: right;
}